[Unit]
Description=paste-server daemon instance

[Service]
User=root
ExecStart=/usr/local/bin/paste-server start -v -l /var/log/paste-server --config /etc/paste.yaml
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
