[Unit]
Description=paste-server daemon instance

[Service]
User=root
ExecStart=/usr/local/bin/paste-server start -v -p 80 -l /var/log/paste-server -c /etc/paste.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
